<!DOCTYPE html>
<html>
<head>
  <title>AmandaCms</title>
  <%= stylesheet_link_tag    "amanda_cms/application", media: "all" %>
  <%= javascript_include_tag "amanda_cms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
